<!-- BEGIN bloque -->
	
<form action="?act=doSearch"  name="search_form" method="post" >
		<div id="search_form">
		<div class="search_title">Search by:</div>
	    <div class="search_content">
			<!-- BEGIN campo -->
			<div style="float:none;clear:both">
			<div align="left" class="search_label">{nombre_campo}</div>
			<div align="left" class="search_field">{tipo_campo}</div>           
			  
			<!-- END campo -->
		</div>
        
	  <div class="search_buttons">
		<input name="submit" type="submit" value="{texto_boton}">
	  </div>
  </div>
</form>
<!-- END bloque -->