<!-- BEGIN bloque -->

<html>

<head>

<title></title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<link href="templates/estilos.css" rel="stylesheet" type="text/css">



</head>



<body>

<table width="100%" border="1" cellpadding="1" cellspacing="1" >

  <tr> 

    <td class="tituloseccion"> {titulo} </td>

  </tr>

</table>

<br>

<a href="{filename}?seccion={seccion}&modo=I">volver al listado</a><br>



        <table width="100%" height="27" border="1">

        <!-- BEGIN campo -->

		  <tr> 

            <td width="28%" bgcolor="{color}" ><div align="left">{nombre_campo}</div></td>

            <td width="40%" bgcolor="{color}" > {tipo_campo} 

            </td>

          </tr>

        <!-- END campo -->

		</table>

    

</body>

</html>

<!-- END bloque -->