<script type="text/javascript">
		
			var vars = {domain:"*"};
			var params = {
				menu: "false",
				quality: "high",
				scale: "noscale",
				salign: "tl",
				wmode: "opaque",
				<!-- change the background of the main flash file -->
				bgcolor: "#FFFFFF",
				allowscriptaccess: "always",
				allowfullscreen:"false"
			};
			var attributes = {name:"flashcontent", id:"flashcontent1"};
	
			swfobject.embedSWF("slideshow.swf?xmlPath=galeriaXML.php", "flashcontent1", "615", "224", "10.0.0", "js/expressInstall.swf",vars,params,attributes);
		
		</script>	
<h1>Galería de Imágenes</h1>
<div class="flash">
 <div class="margenFlash"> 
 	<div id="flashcontent1"></div>
 </div>
</div>

