<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html>
<meta http-equiv="Content-type" ccontent="text/html;charset=iso-8859-1"/>
<head>
<script src="js/jquery-1.2.2.pack.js" language="javascript" ></script>
<script src="js/jqModal.js" language="javascript" ></script>
<script src="js/jquery.jeditable.mini.js" language="javascript" ></script>
<link href="css/inner_vista.css" rel="stylesheet" type="text/css">
<link href="css/modal.css" rel="stylesheet" type="text/css">
</head>
<body class="texto" style="background-color:#333333;">

<form action="?act=doForgot" method="post" name="formcito">
<div class="login_box">
	<b>email</b>    
      <input type="text" name="email" />
	  <br />
      <input type="submit" id="submit" />
</div>
</form>
</body>
</html>