
<form action="?act=doLogin" method="post" name="formcito">
<div id="loginBox">
<br clear="all"/>
<table border="0" cellspacing="0" cellpadding="0" id="innerLogin">
  <tr>
    <td>Username</td>
    <td><input type="text" name="username" id="username" class="texto"></td>
  </tr>
  <tr>
    <td>Password</td>
    <td>
      <input type="password" name="password" id="password" class="texto"></td>
  </tr>
  <tr>
    <td>Forgot your password?</td>
    <td><input type="submit" name="button" id="button" value="Submit" class="ui-button"></td>
  </tr>
</table>
</div>
</form>
